.header__logo {
  width: 142px;
  height: 33px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .header__logo {
    width: 130px;
    height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}