.profile {
  width: 100%;
  min-height: 120px;
  display: grid;
  grid-template-columns: max-content minmax(200px, 2fr) max-content;
  align-items: center;
  justify-items: stretch;
}

@media screen and (max-width: 680px) {
  .profile {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center;
    grid-row-gap: 0;
  }
}
