.popup__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16.94px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 10.2px 0;
  margin: 0;
}