@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-link/header__logo-link.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__main/page__main.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-cont/profile__avatar-cont.css);
@import url(./blocks/profile/__av-overlay/profile__av-overlay.css);
@import url(./blocks/profile/__av-overlay-edit-pic/profile__av-overlay-edit-pic.css);
@import url(./blocks/profile/__personal-data/profile__personal-data.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name-containter/profile__name-containter.css);
@import url(./blocks/main/main.css);
@import url(./blocks/main/__profile-section/main__profile-section.css);
@import url(./blocks/main/__elements-section/main__elements-section.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-cont/elements__like-cont.css);
@import url(./blocks/elements/__likes-number/elements__likes-number.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__image-btn/elements__image-btn.css);
@import url(./blocks/elements/__delete/elements__delete.css);
@import url(./blocks/elements/__delete/_hidden/elements__delete_hidden.css);
@import url(./blocks/elements/__title-container/elements__title-container.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_invalid/popup__submit_invalid.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-delete/popup__form-delete.css);
@import url(./blocks/popup/__form-update/popup__form-update.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__section/popup__section.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_state/popup__input_state_invalid.css);
@import url(./blocks/popup/__paragraph/popup__paragraph.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__cont-delete/popup__cont-delete.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__img-paragraph/popup__img-paragraph.css);
@import url(./blocks/popup/_type/popup_type_image.css);

.pagenotf {
  color: white;
}

.register {
  width: 100%;
  max-width: 320px;
  /*border: 1px solid grey;*/
  margin: 100px 0 0 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__title {
  color: white;
  font-size: 24px;
  font-family: 'Inter';
  max-width: 150px;
  line-height: 29.05px;
  /*border: 2px solid purple;*/
  margin: 0 0 40px 0;
}

.register-input {
  width: 100%;
  background-color: transparent;
  border-top: 0;
  border-left:0;
  border-right: 0;
  border-bottom: 2px solid #CCC;
  outline: 0;
  margin: 0 0 20px 0; 
  color: grey;
  padding: 0 0 10px 0;
  font-size: 12px;
}

.register-submit {
  width: 100%;
  margin: 200px 0 0 0;
  padding: 13px 20px;
  background-color: white;
  border-radius: 2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 21.78px;
}

.register-to-login {
  display: flex; 
  margin: 10px 0 0 0;
}

.register__par {
  color: white;
  font-size: 13px;
  margin: 0 15px 0 0;
}

.register__link {
text-decoration: none;
color: white;
cursor: pointer;
font-size: 13px;

}

.header__email {
  font-size: 18px;
  color: white;
  font-family: 'Inter'
}

.temp__header {
  display: flex;
  justify-content: space-between;
}

.exit-button {
  cursor: pointer;
}